# 제로베이스 데이터 취업 스쿨 SQL 과제 1
- 스타벅스 이디야 데이터 분석

### 8문제 총 100점

- 1번 5점
- 2번 5점
- 3번 10점
- 4번 5점
- 5번 15점
- 6번 15점
- 7번 40점
- 8번 5점

### 1 ~ 8번 모두 본 노트북 파일에 답안 작성해서 제출해주세요 :)

---

문제 1.

AWS RDS (MySQL) 에 프로젝트 관련 Database 를 생성하고, 접근 가능한 사용자 계정을 생성하세요.

- Database Name : oneday
- User Name / Password : oneday / 1234

In [1]:
!pip install mysql-connector-python

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector-python in c:\users\emddj\appdata\roaming\python\python310\site-packages (8.3.0)

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [58]:
import mysql.connector

connect = mysql.connector.connect(
    host='database-1.cd08osauaz8j.us-east-2.rds.amazonaws.com',
    port=3306,
    user='admin',
    password='ghkcjs123',
    database='zerobase'
)

cursor = connect.cursor(buffered=True)
cursor.execute('create database oneday default character set utf8mb4')
cursor.execute("create user 'oneday'@'%' identified by '1234'")

제출 1.
- Database 생성문 조회 결과 : SHOW CREATE DATABASE oneday;
- 사용자 권한 확인 결과 : SHOW GRANT FOR ‘oneday’@‘%’

In [59]:
# 제출 1 - Database 생성문 조회 결과
cursor.execute('show create database oneday')
db_result = cursor.fetchall()
for result_iterator in db_result:
    print(result_iterator)

('oneday', "CREATE DATABASE `oneday` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */")

In [60]:
# 제출 1 - 시용자 권한 확인 결과
cursor.execute("show grants for 'oneday'@'%'")
user_result = cursor.fetchall()
for result_iterator in user_result:
    print(result_iterator)

('GRANT USAGE ON *.* TO `oneday`@`%`',)

문제 2.

스타벅스 이디야 데이터를 저장할 테이블을 다음의 구조로 생성하세요. (PDF 파일 참고)

In [61]:
cursor.execute('use oneday')

cursor.execute('create table COFFEE_BRAND (id int not null auto_increment primary key, name varchar(16))')
cursor.execute('create table COFFEE_STORE (id int not null auto_increment primary key, brand int, name varchar(32), gu_name varchar(5), address varchar(128), lat decimal(16, 14), lng decimal(17, 14), foreign key (brand) references COFFEE_BRAND(id))')

문제 3.

Python 코드로 COFFEE_BRAND 데이터를 다음과 같이 입력하고 확인하세요. (PDF 파일 참고)

In [62]:
cursor.execute("insert into COFFEE_BRAND values (1, 'STARBUCKS')")
cursor.execute("insert into COFFEE_BRAND values (2, 'EDIYA')")
connect.commit()

제출 2.
- Table 생성 결과 : Desc COFFEE_BRAND; Desc COFFEE_STORE;

제출 3.
- COFFEE_BRAND 조회 결과 : SELECT * FROM COFFEE_BRAND;

In [63]:
# 제출 2 - COFFEE_BRAND
cursor.execute('desc COFFEE_BRAND')
result_brand = cursor.fetchall()

for row in result_brand:
    print(row)

('id', 'int', 'NO', 'PRI', None, 'auto_increment')
('name', 'varchar(16)', 'YES', '', None, '')

In [64]:
# 제출 2 - COFFEE_STORE
cursor.execute('desc COFFEE_STORE')
result_store = cursor.fetchall()

for row in result_store:
    print(row)

('id', 'int', 'NO', 'PRI', None, 'auto_increment')
('brand', 'int', 'YES', 'MUL', None, '')
('name', 'varchar(32)', 'YES', '', None, '')
('gu_name', 'varchar(5)', 'YES', '', None, '')
('address', 'varchar(128)', 'YES', '', None, '')
('lat', 'decimal(16,14)', 'YES', '', None, '')
('lng', 'decimal(17,14)', 'YES', '', None, '')

In [65]:
# 제출 3
cursor.execute('select * from COFFEE_BRAND')
result_coffee = cursor.fetchall()

for row in result_coffee:
    print(row)

(1, 'STARBUCKS')
(2, 'EDIYA')

문제 4.

스타벅스 페이지에 접근하는 코드에서 팝업창이 없는 경우, 팝업창을 닫는 코드에서 에러가 발생합니다. 예외처리 해서 에러
메시지를 출력하고 실행이 중단되지 않도록 수정해주세요.

In [66]:
# 제출 4
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException

driver = webdriver.Chrome()
driver.get('https://www.starbucks.co.kr/store/store_map.do')

try:
    driver.find_element(By.CSS_SELECTOR, '.holiday_notice_close a').click()
except NoSuchElementException as e:
    print('팝업창이 없습니다.')
finally:
    driver.quit()

팝업창이 없습니다.

문제 5.

Python 코드로 스타벅스 페이지에서 데이터를 가져올때, COFFEE_STORE 테이블에 바로 입력하도록 수정하세요.

- 데이터 세트: 매장 이름, 매장이 위치한 구 이름, 매장 주소, 위도, 경도
- 필요한 데이터를 한세트씩 가져와서 COFFEE_STORE 테이블에 각각INSERT 하도록 합니다.
- 입력된 데이터의 총 갯수를 쿼리하여 결과를 확인합니다.
- 입력된 데이터 상위 10개를 쿼리하여 결과를 확인합니다.

In [67]:
from bs4 import BeautifulSoup
from tqdm import tqdm_notebook
import time

driver = webdriver.Chrome()
driver.get('https://www.starbucks.co.kr/store/store_map.do')
time.sleep(1)
# 지역 검색 클릭
driver.find_element(By.CSS_SELECTOR, '#container > div > form > fieldset > div > section > article.find_store_cont > article > header.loca_search > h3 > a').click()
time.sleep(1)
# 서울시 클릭
driver.find_element(By.CLASS_NAME, 'set_sido_cd_btn').click()
time.sleep(1)
# 전체 클릭
driver.find_element(By.CLASS_NAME, 'set_gugun_cd_btn').click()
time.sleep(3)

html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')
name = driver.find_elements(By.CSS_SELECTOR, '#mCSB_3_container > ul > li')
time.sleep(3)

sql = 'insert into COFFEE_STORE (brand, name, gu_name, address, lat, lng) values (1, %s, %s, %s, %s, %s)'

count = 1
for data in tqdm_notebook(name):
    cafe_name = data.get_attribute('data-name')
    address = soup.select_one(f'#mCSB_3_container > ul > li:nth-child({count}) > p').text[:-9]
    gu_name = address.split()[1] if address else ''
    lat = data.get_attribute('data-lat')
    lng = data.get_attribute('data-long')

    count += 1

    cursor.execute(sql, (cafe_name, gu_name, address, lat, lng))
    connect.commit()
    
    time.sleep(0.5)

C:\Users\emddj\AppData\Local\Temp\ipykernel_13000\2761692830.py:26: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for data in tqdm_notebook(name):

  0%|          | 0/612 [00:00<?, ?it/s]

In [68]:
driver.quit()

제출 4.
- 팝업 예외처리 코드 & 실행 결과 (ipynb)

제출 5.
- 스타벅스 데이터 관련 코드 & 실행 결과 (ipynb)

In [73]:
# 제출 5 - 입력된 데이터의 총 갯수
cursor.execute('select count(*) from COFFEE_STORE')
result_table_cnt = cursor.fetchall()
result_table_cnt[0][0]

612

In [74]:
# 제출 5 - 입력된 데이터 상위 10개
cursor.execute('select * from COFFEE_STORE limit 10')
result_data_10 = cursor.fetchall()
for datas in result_data_10:
    print(datas)

(1, 1, '역삼아레나빌딩', '강남구', '서울특별시 강남구 언주로 425 (역삼동)', Decimal('37.50108700000000'), Decimal('127.04306900000000'))
(2, 1, '논현역사거리', '강남구', '서울특별시 강남구 강남대로 538 (논현동)', Decimal('37.51017800000000'), Decimal('127.02222300000000'))
(3, 1, '신사역성일빌딩', '강남구', '서울특별시 강남구 강남대로 584 (논현동)', Decimal('37.51393090000000'), Decimal('127.02060570000000'))
(4, 1, '국기원사거리', '강남구', '서울특별시 강남구 테헤란로 125 (역삼동)', Decimal('37.49951700000000'), Decimal('127.03149500000000'))
(5, 1, '대치재경빌딩', '강남구', '서울특별시 강남구 남부순환로 2947 (대치동)', Decimal('37.49466800000000'), Decimal('127.06258300000000'))
(6, 1, '봉은사역', '강남구', '서울특별시 강남구 봉은사로 619 (삼성동)', Decimal('37.51500000000000'), Decimal('127.06319600000000'))
(7, 1, '압구정윤성빌딩', '강남구', '서울특별시 강남구 논현로 834 (신사동)', Decimal('37.52279340000000'), Decimal('127.02860090000000'))
(8, 1, '코엑스별마당', '강남구', '서울특별시 강남구 영동대로 513 (삼성동)', Decimal('37.51015000000000'), Decimal('127.06027500000000'))
(9, 1, '삼성역섬유센터R', '강남구', '서울특별시 강남구 테헤란로 518 (대치동)', Decimal('37.50775000000000'), Decimal('127.06065100000000'))
(10, 1, '압구정R', '강남구', '서울특별시 강남구 언주로 861 (신사동)', Decimal('37.52736690000000'), Decimal('127.03306100000000'))

In [75]:
connect.close()

문제 6.

Python 코드로 이디야 페이지에서 데이터를 가져올때, COFFEE_STORE 테이블에 바로 입력하도록 수정하세요.

- 데이터 세트 : 매장 이름, 매장이 위치한 구 이름, 매장 주소, 위도, 경도
- 이디야 페이지에서 검색에 사용할 구 이름은 COFFEE_STORE 에서 중복을 제거하는 쿼리를 사용하여 가져와서 {‘서울 ‘ + 구이름} 형식으로 변환하여 사용하도록 합니다.
- 필요한 데이터를 한 세트씩 가져와서 COFFEE_STORE 테이블에 각각 INSERT 하도록 합니다.
- (주의) COFFEE_STORE 테이블에 입력할 구 이름은 {‘서울 ‘} 이 제거된 구 이름입니다.
- 입력된 데이터의 총 갯수를 쿼리하여 결과를 확인합니다.
- 입력된 데이터 상위 10개를 쿼리하여 결과를 확인합니다.

In [8]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import mysql.connector
import time

connect = mysql.connector.connect(
    host='database-1.cd08osauaz8j.us-east-2.rds.amazonaws.com',
    port=3306,
    user='admin',
    password='ghkcjs123',
    database='zerobase'
)

cursor = connect.cursor(buffered=True)
cursor.execute('use oneday')

driver = webdriver.Chrome()
driver.get('https://www.ediya.com/contents/find_store.html')

# 주소 클릭
driver.find_element(By.CSS_SELECTOR, '#contentWrap > div.contents > div > div.store_search_pop > ul > li:nth-child(2) > a').click()
# 서울 + 구 이름을 가져와서 리스트에 담기
cursor.execute("select distinct concat('서울 ', gu_name) from COFFEE_STORE")
result_gu = cursor.fetchall()
gu_list = []

for gu in result_gu:
    gu_list.append(gu[0])

In [10]:
from bs4 import BeautifulSoup
from tqdm import tqdm_notebook
import googlemaps
import numpy as np
import time

gmaps_key = "AIzaSyA8J-BnyGap1RNmrbZNlZyYg-hdut39L4A"
gmaps = googlemaps.Client(key=gmaps_key)

sql = 'insert into COFFEE_STORE (brand, name, gu_name, address, lat, lng) values (2, %s, %s, %s, %s, %s)'

for gu_name in tqdm_notebook(gu_list):
    driver.find_element(By.CSS_SELECTOR, '#keyword').clear()
    driver.find_element(By.CSS_SELECTOR, '#keyword').send_keys(gu_name)
    driver.find_element(By.CSS_SELECTOR, '#keyword_div > form > button').click()
    time.sleep(2)

    html2 = driver.page_source
    soup2 = BeautifulSoup(html2, 'html.parser')
    name2 = soup2.select('#placesList > li')

    for data2 in name2:
        cafe_name2 = data2.select_one('dt').text
        address2 = data2.select_one('dd').text
        gu2 = data2.select_one('dd').text.split(' ')[1]

        addr_detail = gmaps.geocode(address2, language="ko")
        lat = addr_detail[0].get("geometry")["location"]["lat"] if addr_detail else np.nan
        lng = addr_detail[0].get("geometry")["location"]["lng"] if addr_detail else np.nan
        
        cursor.execute(sql, (cafe_name2, gu2, address2, lat, lng))
        connect.commit()

        time.sleep(0.5)

C:\Users\emddj\AppData\Local\Temp\ipykernel_13564\3946149775.py:12: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for gu_name in tqdm_notebook(gu_list):

  0%|          | 0/25 [00:00<?, ?it/s]

제출 6.
- 이디야 데이터 관련 코드 & 실행 결과 (ipynb)

In [11]:
# 제출 6 - 입력된 데이터의 총 갯수
cursor.execute('select count(*) from COFFEE_STORE where brand=2')
result_ediya_table_cnt = cursor.fetchall()
result_ediya_table_cnt[0][0]

711

In [13]:
# 제출 6 - 입력된 데이터 상위 10개
cursor.execute('select * from COFFEE_STORE where brand=2 limit 10')
result_ediya_data_10 = cursor.fetchall()
for datas in result_ediya_data_10:
    print(datas)

(613, 2, '강남YMCA점', '강남구', '서울 강남구 논현동', Decimal('37.51367870000000'), Decimal('127.03171240000000'))
(614, 2, '강남구청역아이티웨딩점', '강남구', '서울 강남구 학동로 338 (논현동, 강남파라곤)', Decimal('37.51655130000000'), Decimal('127.04013910000000'))
(615, 2, '강남논현학동점', '강남구', '서울 강남구 논현로131길 28 (논현동)', Decimal('37.51518990000000'), Decimal('127.02755390000000'))
(616, 2, '강남대치점', '강남구', '서울 강남구 역삼로 415 (대치동, 성진빌딩)', Decimal('37.50143400000000'), Decimal('127.05232800000000'))
(617, 2, '강남도산점', '강남구', '서울 강남구 도산대로37길 20 (신사동)', Decimal('37.52228210000000'), Decimal('127.03147990000000'))
(618, 2, '강남세곡점', '강남구', '서울 강남구 헌릉로569길 9 (세곡동, 강남지웰파인즈)', Decimal('37.46697310000000'), Decimal('127.10052620000000'))
(619, 2, '강남율현점', '강남구', '서울 강남구 밤고개로21길 8 (율현동, 세곡프라자)', Decimal('37.47358220000000'), Decimal('127.10783110000000'))
(620, 2, '개포동역점', '강남구', '서울 강남구 개포로82길 11 (개포동, 삼우빌딩)', Decimal('37.48893480000000'), Decimal('127.06793520000000'))
(621, 2, '건설회관점', '강남구', '서울 강남구 언주로 711 (논현동)', Decimal('37.51367870000000'), Decimal('127.03171240000000'))
(622, 2, '대청역점', '강남구', '서울 강남구 개포로109길 34 (개포동, 대청프라자)', Decimal('37.49421560000000'), Decimal('127.07761700000000'))

In [14]:
driver.close()

문제 7.

Python 코드에서 다음의 데이터를 쿼리를 사용하여 조회하세요.

- 스타벅스 매장 주요 분포 지역 (매장수가 많은 상위 5개 구이름, 매장 개수 출력)
- 이디야 매장 주요 분포 지역 (매장수가 많은 상위 5개 구이름, 매장 개수 출력)
- 구별 브랜드 각각의 매장 개수 조회 (구이름, 브랜드이름, 매장 개수 출력)
- 구별 브랜드 각각의 매장 개수 조회 (구이름, 스타벅스 매장 개수, 이디야 매장 개수 출력)

In [15]:
# 제출 7 - 스타벅스 매장 주요 분포 지역(매장 수가 많은 상위 5개 구이름, 매장 개수)
cursor.execute('select gu_name, count(*) from COFFEE_STORE where brand=1 group by gu_name order by count(*) desc limit 5')
result_starbucks = cursor.fetchall()
for datas in result_starbucks:
    print(datas)

('강남구', 91)
('중구', 53)
('서초구', 48)
('영등포구', 41)
('종로구', 40)

In [16]:
# 제출 7 - 이디야 매장 주요 분포 지역(매장 수가 많은 상위 5개 구이름, 매장 개수)
cursor.execute('select gu_name, count(*) from COFFEE_STORE where brand=2 group by gu_name order by count(*) desc limit 5')
result_ediya = cursor.fetchall()
for datas in result_ediya:
    print(datas)

('강서구', 44)
('강남구', 43)
('마포구', 38)
('영등포구', 36)
('종로구', 35)

In [18]:
# 제출 7 - 구별 브랜드 각각의 매장 개수 조회(구이름, 브랜드이름, 매장 개수)
cursor.execute("select gu_name, '스타벅스' as brand, count(*) from COFFEE_STORE where brand=1 group by gu_name")
result_star = cursor.fetchall()
for datas in result_star:
    print(datas)

('강남구', '스타벅스', 91)
('강북구', '스타벅스', 6)
('강서구', '스타벅스', 27)
('관악구', '스타벅스', 12)
('광진구', '스타벅스', 19)
('금천구', '스타벅스', 13)
('노원구', '스타벅스', 14)
('도봉구', '스타벅스', 7)
('동작구', '스타벅스', 11)
('마포구', '스타벅스', 36)
('서대문구', '스타벅스', 22)
('서초구', '스타벅스', 48)
('성북구', '스타벅스', 15)
('송파구', '스타벅스', 36)
('양천구', '스타벅스', 17)
('영등포구', '스타벅스', 41)
('은평구', '스타벅스', 14)
('종로구', '스타벅스', 40)
('중구', '스타벅스', 53)
('강동구', '스타벅스', 17)
('구로구', '스타벅스', 14)
('동대문구', '스타벅스', 13)
('성동구', '스타벅스', 14)
('용산구', '스타벅스', 24)
('중랑구', '스타벅스', 8)

In [19]:
cursor.execute("select gu_name, '이디야' as brand, count(*) from COFFEE_STORE where brand=2 group by gu_name")
result_edi = cursor.fetchall()
for datas in result_edi:
    print(datas)

('강남구', '이디야', 43)
('강북구', '이디야', 16)
('강서구', '이디야', 44)
('관악구', '이디야', 27)
('광진구', '이디야', 21)
('금천구', '이디야', 21)
('노원구', '이디야', 31)
('도봉구', '이디야', 23)
('동작구', '이디야', 24)
('마포구', '이디야', 38)
('서대문구', '이디야', 25)
('서초구', '이디야', 30)
('성북구', '이디야', 30)
('송파구', '이디야', 33)
('양천구', '이디야', 27)
('영등포구', '이디야', 36)
('은평구', '이디야', 29)
('종로구', '이디야', 35)
('중구', '이디야', 35)
('강동구', '이디야', 28)
('구로구', '이디야', 28)
('동대문구', '이디야', 23)
('성동구', '이디야', 21)
('용산구', '이디야', 13)
('중랑구', '이디야', 30)

In [26]:
# 제출 7 - 구별 브랜드 각각의 매장 개수 조회(구이름, 스타벅스 매장 개수, 이디야 매장 개수)
cursor.execute('select gu_name, sum(case when brand=1 then 1 else 0 end) 스타벅스_매장_개수, sum(case when brand=2 then 1 else 0 end) 이디야_매장_개수 from COFFEE_STORE group by gu_name')
result_count = cursor.fetchall()
for datas in result_count:
    print(datas[0], datas[1], datas[2])

강남구 91 43
강북구 6 16
강서구 27 44
관악구 12 27
광진구 19 21
금천구 13 21
노원구 14 31
도봉구 7 23
동작구 11 24
마포구 36 38
서대문구 22 25
서초구 48 30
성북구 15 30
송파구 36 33
양천구 17 27
영등포구 41 36
은평구 14 29
종로구 40 35
중구 53 35
강동구 17 28
구로구 14 28
동대문구 13 23
성동구 14 21
용산구 24 13
중랑구 8 30

제출 7.
- 관련 코드 & 실행 결과 (ipynb)

문제 8.

시각화 프로젝트를 위하여 다음의 규칙으로 쿼리하여 CSV 파일로 저장합니다. (Python 코드로 작업)

- 전체 데이터를 가져오는데, 각 스타벅스 매장별로 이디야 전체 매장정보가 매칭되어 있어야 합니다. (정렬 : s_id, e_id 순)
- 다음의 형식으로 저장되어야 합니다. (브랜드 이름, 칼럼 명 주의)
- 데이터 프레임 출력을 해주세요. 데이터 프레임 미출력시 감점입니다.

In [41]:
# 제출 8
import pandas as pd

cursor.execute("select A.*, B.* from (select * from COFFEE_STORE where brand=1) as A join (select * from COFFEE_STORE where brand=2) as B on B.gu_name = A.gu_name")
r = cursor.fetchall()
df = pd.DataFrame(r)

df.columns = ['s_id', 's_brand','s_name', 's_gu', 's_address', 's_lat', 's_lng',
              'e_id', 'e_brand', 'e_name', 'e_gu', 'e_address', 'e_lat', 'e_lng']

df = df.sort_values(by=['s_id', 'e_id'])
df = df.reset_index(drop=True)
df['s_brand'] = 'STARBUCKS'
df['e_brand'] = 'EDIYA'
df.to_csv('result.csv')

In [42]:
connect.close()

In [3]:
import pandas as pd

df = pd.read_csv('result.csv', index_col=0)
df.head(5)

,s_id,s_brand,s_name,s_gu,s_address,s_lat,s_lng,e_id,e_brand,e_name,e_gu,e_address,e_lat,e_lng
0,1,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동),37.501087,127.043069,613,EDIYA,강남YMCA점,강남구,서울 강남구 논현동,37.513679,127.031712
1,1,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동),37.501087,127.043069,614,EDIYA,강남구청역아이티웨딩점,강남구,"서울 강남구 학동로 338 (논현동, 강남파라곤)",37.516551,127.040139
2,1,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동),37.501087,127.043069,615,EDIYA,강남논현학동점,강남구,서울 강남구 논현로131길 28 (논현동),37.515190,127.027554
3,1,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동),37.501087,127.043069,616,EDIYA,강남대치점,강남구,"서울 강남구 역삼로 415 (대치동, 성진빌딩)",37.501434,127.052328
4,1,STARBUCKS,역삼아레나빌딩,강남구,서울특별시 강남구 언주로 425 (역삼동),37.501087,127.043069,617,EDIYA,강남도산점,강남구,서울 강남구 도산대로37길 20 (신사동),37.522282,127.031480

In [4]:
df.tail(5)

,s_id,s_brand,s_name,s_gu,s_address,s_lat,s_lng,e_id,e_brand,e_name,e_gu,e_address,e_lat,e_lng
19652,612,STARBUCKS,중화역,중랑구,서울특별시 중랑구 봉화산로 35 1층,37.601709,127.078411,1319,EDIYA,중랑교차로점,중랑구,서울 중랑구 동일로 683 (면목동),37.591448,127.079882
19653,612,STARBUCKS,중화역,중랑구,서울특별시 중랑구 봉화산로 35 1층,37.601709,127.078411,1320,EDIYA,중랑역점,중랑구,서울 중랑구 망우로 198 (상봉동),37.593285,127.074889
19654,612,STARBUCKS,중화역,중랑구,서울특별시 중랑구 봉화산로 35 1층,37.601709,127.078411,1321,EDIYA,중화동점,중랑구,서울 중랑구 동일로129길 1 (중화동),37.601957,127.086627
19655,612,STARBUCKS,중화역,중랑구,서울특별시 중랑구 봉화산로 35 1층,37.601709,127.078411,1322,EDIYA,중화역점,중랑구,"서울 중랑구 동일로 815, 1층",37.603129,127.078889
19656,612,STARBUCKS,중화역,중랑구,서울특별시 중랑구 봉화산로 35 1층,37.601709,127.078411,1323,EDIYA,화랑대역점,중랑구,"서울 중랑구 신내로25가길 2 (묵동, 현동학당)",37.619451,127.084160

제출 8.
- 시각화 프로젝트 관련 코드 (ipynb), 결과 파일 (csv)

---